.form {
    max-width: 50rem;
    min-width: 20rem;
    width: 70%;
    margin: 2.5rem auto 0 auto;
}

.form__field {
    width: 100%;
    display: flex;
    row-gap: 0.625rem;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 1.25rem;
    margin-top: 2.5rem;
    flex-direction: column;
    position: relative;
}

.form__field-error {
    position: absolute;
    bottom: -1rem;
    color: red;
    font-size: 0.875rem;
    left: 50%;
    transform: translateX(-50%);
}

.form__label {
    width: 100%;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1rem;
    color: #3d3d3d;
    line-height: 1.6;
}

.form__input {
    width: 100%;
    font-size: 1.3rem;
    outline: none;
    border: none;
    border-bottom: 0.0625rem solid #ccc;
    text-align: center;
}

.form__button {
    display: block;
    padding: 0.625rem;
    border-radius: 0.625rem;
    border: 0.0625rem solid #ccc;
    margin: 2.25rem auto 0 auto;
}

.form__button:hover {
    background-color: rgba(89, 240, 209, .2);
}